/* css avec avec variables, commentaires et indenté si possible */

:root {
    --bg-grey: #d9d9d9;
    --bg-white: #fff;
    --color-bd: #000;
    --wdth-100: 100%;
    --wdth-50: 50%;
    --text-decor: none;
    --text-aln: center;
    --aln-itm: center;
    --list-style: none;
    --dsp-inline: inline;
    --dsp-flex: flex;
    --dsp-grid: grid;
    --brd-btm: 1px solid #000;
    --bg-hover: #633131;
    font-size: 10px; /*default font size => 1rem=16px */
    --bx-shdow: 2px 2px 4px var(--color-bd);
}
body {
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1px solid var(--color-bd);
    display: flex;
    align-items: center;
    & > a {
        text-decoration: none;
        color: var(--color-bd);
        font-size: 2rem;
        padding: 2rem;
    }
    #menu {
        #burger {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 2rem;
            padding: 0.5rem;
            border: 1px solid var(--color-bd);
            border-radius: 1rem;
        }
        ul {
            list-style: none;
            display: var(--dsp-flex);
            gap: 1rem;
            li {
                display: none;
            }
        }
    }
}

/* The main style of the body */
main {
    /* main style for hero */
    #hero {
        h1 {
            text-align: var(--text-aln);
            font-size: 2rem;
        }
        p {
            text-align: var(--text-aln);
            font-size: 1.8rem;
        }
        ul {
            list-style-type: none;
            display: var(--dsp-flex);
            flex-direction: column;
            align-items: center;
            padding-left: :0px;
            li {
                font-size: 1.7rem;
                padding: 10px;
                text-align: center;
                box-shadow: var(--bx-shdow);
                border-radius: 5px;
                margin: 10px;
                width: 50%;
                text-align: center;
                a {
                    text-decoration: var(--text-decor);
                    color: var(--color-bd);
                }
            }
            li:not(.btn-main) {
                background-color: var(--bg-grey);
            }
            a {
                font-size: 1.6rem;
            }
        }
    }

    /* main style for the body */
    /* this is not the good practice but i have to change it later */
    #services {
        border-top: 1px solid var(--color-bd);
    }
    .grey:not(.form) {
        background-color: var(--bg-grey);
        /* margin: 10px; */
    }
    .white {
        background-color: var(--bg-white);
        margin: 10px;
    }
    h2 {
        text-align: var(--text-aln);
        font-size: 2rem;
        padding: 10px;
    }
    .form {
        background-color: var(--bg-grey);
    }
    section {
        padding-block: 10px;
        display: var(--dsp-flex);
        flex-direction: column;
        justify-content: space-between;
        article {
            background-color: var(--bg-white);
            margin: 10px;
            align-items: center;
            display: var(--dsp-flex);
            flex-direction: column;
            box-shadow: var(--bx-shdow);
            h3 {
                text-align: center;
                font-size: 2rem;
                margin-top: 15px;
            }
            p {
                padding-inline: 10px;
                margin-bottom: 20px;
                font-size: 1.6rem;
            }
        }
        .btn {
            margin-bottom: 20px;
            color: var(--color-bd);
            box-shadow: var(--bx-shdow);
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            font-size: 2rem;
            width: 50%;
            text-decoration: var(--text-decor);
            background-color: var(--bg-grey);
        }
    }
    .form {
        fieldset {
            margin: 10px 10px;
            border: none;
            input:not([type="checkbox"]),
            select,
            textarea {
                width: 100%;
                box-sizing: border-box;
                margin: 5px;
            }
            label,
            p {
                font-size: 1.5rem;
            }
            .center-btn {
                text-align: var(--text-aln);
                .btn-main {
                    background-color: var(--bg-white);
                    padding: 20px 30px;
                    margin: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}

/* the main style fo the footer */
footer {
    text-align: var(--text-aln);
    a {
        text-decoration: var(--text-decor);
        color: var(--color-bd);
    }
    :hover {
        color: purple;
    }
}

/* the style of the responsive */

/* main style for 768 px screen */
@media (min-width: 768px) {
    /* the main style of the header */
    header {
        /* height: 40px auto; */
        justify-content: space-between;
        #title {
            font-size : 3rem;
        }
        .burger {
            display: none;
        }
        #menu {
            display: var(--dsp-flex);
            align-items: center;
            ul {
                display: var(--dsp-flex);
                gap : 2rem;
                li {
                    display: inline;
                    font-size: 2rem;
                    margin-right: 2rem;
                    a {
                        text-decoration: var(--text-decor);
                        color : var(--color-bd)
                    }
                }
            }
        }
    }

    main {
        /* mofidying style for hero */
        #hero {
            padding-block :0;
            h1 {
                font-size: 5rem;
            }
            p {
                font-size: 4rem;
            }
            ul {
                display: var(--dsp-grid);
                grid-template-columns: 1fr 1fr;
                margin: 40px;
                padding-right: 0;
                li {
                    padding-inline: 40px;
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }

        /* the style of all article */
        .grid {
            display: var(--dsp-grid);
            grid-template-columns: repeat(4, 1fr);
            h2 {
                grid-column: 1 / -1;
                font-size: 5rem;
            }
            article {
                text-align: start;
                margin: 1rem;
            }
            .btn {
                font-size: 1.7rem;
            }
            p{
                font-size: 1.7rem;
            }
        }
        /* changing style for form */
        #contact {
            h2 {
                font-size: 4rem;
            }
            fieldset {
                /* margin : 10px auto; */
                label {
                    font-size: 3rem;
                }
                .btn-main {
                    font-size: 3rem;
                }
                input:not([type="checkbox"]),
                select,
                textarea {
                    width: 100%;
                    text-align: var(--text-aln);
                    font-size: 3rem;
                }
                input,
                select {
                    height: 5rem;
                }
                input[type="checkbox"]{
                    width: 3rem;
                    margin: 2rem;
                }
                .check-box{
                    display: var(--dsp-grid);
                    grid-template-columns: 1fr 3fr;
                    p {
                        grid-column: 1 / -1;
                        margin-top :0;
                        padding-left : 1rem
                    }
                }
            }
            p {
                font-size: 3rem;
            }
        }
    }

    /* the style for the footer */
    footer {
        p {
            font-size: 3rem;
        }
    }
}
/* checking mofication */

/* modification of the min 1024 px */

@media (min-width: 1024px) {
}
